---
const API_URL = import.meta.env.PUBLIC_API_URL;
const REST_WC_URL = `${API_URL}/wp-json/wc/store/v1`;
// const REST_CUSTOM_URL = `${API_URL}/wp-json/api-woocommerce/v1`;
// const REST_WP_URL = `${API_URL}/wp-json/wp/v2`;

const onSaleProductsResponse = await fetch(`${REST_WC_URL}/products?on_sale=true`);
const onSaleProducts = await onSaleProductsResponse.json();

---
{onSaleProducts.length > 0 && (
  <lasz-page-container>
    <h2>On Sale</h2>
    <lasz-products>
      {
        onSaleProducts.map((product: any) => (
          <lasz-product>
            <kemet-badge rounded="lg">Sale</kemet-badge>
            <img src={product.images[0].src} alt={product.images[0].alt} />
            <h3 set:html={product.name} />
            <span set:html={product.price_html} />
            <kemet-button link={`/product/${product.slug}`} rounded="lg">View Product</kemet-button>
          </lasz-product>
        ))
      }
    </lasz-products>
  </lasz-page-container>
)}


